---
- name: Set MariaDB root password
  mysql_user:
    name: root
    host: localhost
    password: "{{ wp_db_root_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock
  ignore_errors: yes # Might already be set

- name: Remove anonymous users
  mysql_user:
    name: ""
    host_all: yes
    state: absent
    login_user: root
    login_password: "{{ wp_db_root_password }}"

- name: Remove test database
  mysql_db:
    name: test
    state: absent
    login_user: root
    login_password: "{{ wp_db_root_password }}"

- name: Create WordPress database
  mysql_db:
    name: "{{ wp_db_name }}"
    state: present
    login_user: root
    login_password: "{{ wp_db_root_password }}"

- name: Create WordPress database user
  mysql_user:
    name: "{{ wp_db_user }}"
    password: "{{ wp_db_password }}"
    priv: "{{ wp_db_name }}.*:ALL"
    state: present
    login_user: root
    login_password: "{{ wp_db_root_password }}"
